.layout {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
    /* Mettre les gestionnaires en ligne */
    padding: 10px;
    /* Ajout de padding */
    margin-top: 40px;
}

.layout .name,
.layout .cible,
.layout .cost {
    /* Styles pour le nom, la cible et le coût du gestionnaire */
    text-align: center;
    /* Centrer le texte */
    margin-bottom: 5px;
    /* Espace en bas pour séparer les éléments */
}

.layout .name {
    /* Styles pour le nom du gestionnaire */
    font-weight: bold;
    /* Police en gras pour le nom */
    margin-bottom: 5px;
    /* Espace en bas pour séparer les éléments */
}

.layout .cible,
.layout .cost {
    /* Styles pour la cible et le coût du gestionnaire */
    margin-bottom: 5px;
    /* Espace en bas pour séparer les éléments */
}

.layout .hirebutton {
    /* Styles pour le bouton d'embauche */
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    /* Couleur de fond */
    color: #fff;
    /* Couleur du texte */
    cursor: pointer;
}

.layout .logo img {
    width: 150px;
    /* Largeur de l'image */
    height: 150px;
    /* Hauteur de l'image */
    border-radius: 50%;
    /* Pour une forme ronde */
    margin-right: 10px;
}