<h1 class="title">Managers make you feel better !</h1>
<mat-dialog-content>
    @if(data.type == "manager"){
        @for (manager of data.data.managers; track manager.name) {
            @if(!manager.unlocked){
                <div class="managerslayout">
                    <div>
                        <div class="logo"><img class="round" [attr.src]="data.server+manager.logo" /> </div>
                    </div>
                    <div>
                        <div class="managername"> {{ manager.name}} </div>
                        <div class="managercible"> {{ data.data.products[manager.idcible].name }} </div>
                        <div class="managercost"> {{ manager.seuil}} </div>
                    </div>
                    <!-- <div>
                                <div class="hirebutton" (click)="hireManager(manager)"
                                    [ngClass]="{'selectable' : (world.money >= manager.seuil)}">Hire !</div>
                                </div> -->
                </div>
            }
        }
    }
    @else if(data.type == "upgrade"){
        <div class="upgrade">
            
        </div>
    }
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button cdkFocusInitial>Fermer</button>
</mat-dialog-actions>