<div mat-dialog-content>
    @if(data.type == "manager"){
        <div class="modal">
            <h1 class="title">Managers make you feel better !</h1>
            @for (manager of data.data.managers; track manager.name) {
                @if(!manager.unlocked){
                    <div class="layout">
                        <div>
                            <div class="logo"><img [attr.src]="data.server+manager.logo" /> </div>
                        </div>
                        <div>
                            <div class="name"> {{ manager.name}} </div>
                            <div class="cible"> {{ data.data.products[manager.idcible].name }} </div>
                            <div class="cost"> {{ manager.seuil}} </div>
                        </div>
                        <div>
                            <!-- (click)="hireManager(manager)" -->
                            <div class="hirebutton" 
                                [ngClass]="{'selectable' : (data.data.money >= manager.seuil)}">Hire !                                
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    }
    @else if(data.type == "upgrade"){
        <div class="modal">
            <div>
              <h1 class="title">Want to maximize profits? Get your investments to this quotas !</h1>
            </div>
            <div class ="two-column-list">
                @for (upgrade of data.data.upgrades.slice(0, 6); track upgrade.name) {
                    <div>
                        @if(!upgrade.unlocked){
                            <div class="layout">
                                <div>
                                    <div class="logo"><img class="round" [attr.src]="data.server" /> </div>
                                </div>
                                <div>
                                    <div class="name"> {{ upgrade.name}} </div>
                                    <div class="cible"> {{ data.data.products[upgrade.idcible].name }} </div>
                                    <div class="cost"> {{ upgrade.seuil}} </div>
                                </div>
                                <div>
                                    <!-- (click)="buyUpgrade(upgrade)" -->
                                    <div class="hirebutton" 
                                    [ngClass]="{'selectable' : (data.data.money >= upgrade.seuil)}">Hire !</div>
                                </div>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
    }
</div>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>Fermer</button>
</mat-dialog-actions>