<div mat-dialog-content>
    @if(data.type == "manager"){
    <div class="modal">
        <h1 class="title">Managers make you feel better !</h1>
        @for (manager of data.data.managers; track manager.name) {
        @if(!manager.unlocked){
        <div class="layout">
            <div>
                <div class="logo"><img [attr.src]="data.server + manager.logo" /> </div>
            </div>
            <div class="text">
                <div class="name"> {{ manager.name}} </div>
                <div class="cible"> {{ data.data.products[manager.idcible].name }} </div>
                <div class="cost"> {{"Cout : " + manager.seuil}} </div>
            </div>
            <div>
                <!-- (click)="hireManager(manager)" -->
                <div class="hirebutton" (click)="buyManager(manager)"
                    [ngClass]="{'selectable' : (data.data.money >= manager.seuil)}"> Engager !
                </div>
            </div>
        </div>
        }
        }
    </div>
    }
    @else if(data.type == "upgrade"){
    <div class="modal">
        <div>
            <h1 class="title">Want to maximize profits? Get your investments to this quotas !</h1>
        </div>
        <div class="two-column-list">
            @for (upgrade of listClosestUpgrade.slice(0, 6); track upgrade.name) {
            <div>
                @if(!upgrade.unlocked){
                <div class="layout">
                    <div>
                        <div class="logo"><img class="round" [attr.src]="data.server + upgrade.logo" /> </div>
                    </div>
                    <div>
                        <div class="name"> {{ upgrade.name}} </div>
                        <div class="cible"> {{ data.data.products[upgrade.idcible].name }} </div>
                        <div class="cost"> {{ "Cout : " + upgrade.seuil}} </div>
                        <div class="bonus">
                            {{ upgrade.typeratio == 'gain' ? ("Amélioration du profit : " +
                            data.data.products[upgrade.idcible].name + " x" + upgrade.ratio) : ("Amélioration de la
                            vitesse de production : " + data.data.products[upgrade.idcible].name + " x" + upgrade.ratio
                            ) }}
                        </div>
                    </div>
                    <div>

                        <div class="hirebutton" (click)="buyUpgrade(upgrade)"
                            [ngClass]="{'selectable' : (data.data.money >= upgrade.seuil)}">Acheter !</div>
                    </div>
                </div>
                }
            </div>
            }
        </div>
    </div>
    }
    @else if (data.type == "unlock"){
    <div class="modal">
        <div>
            <h1 class="title">Want to maximize profits? Get your investments to this quotas !</h1>
        </div>
        <div class="two-column-list">
            @for(unlock of listClosestUnlock.slice(0,7); track unlock.name){
            <div>
                @if(!unlock.unlocked){
                <div class="layout">
                    <div>
                        <div class="logo"><img class="round" [attr.src]="data.server + unlock.logo" /> </div>
                    </div>
                    <div class="text">
                        @if(unlock.idcible != -1){
                        <div class="name"> {{ unlock.name}} </div>
                        <div class="cible"> {{ data.data.products[unlock.idcible].name }} </div>
                        <div class="cost"> {{ "Atteint le niveau " + unlock.seuil + " pour débloquer !"}} </div>
                        <div class="bonus">
                            {{ unlock.typeratio == 'gain' ? (data.data.products[unlock.idcible].name + " Profits x" +
                            unlock.ratio) : (data.data.products[unlock.idcible].name + " Production Speed x" +
                            unlock.ratio ) }}
                        </div>
                        }
                        @else{
                        <div class="name"> {{ unlock.name}} </div>
                        <div class="cible"> All Products </div>
                        <div class="cost"> {{ unlock.seuil}} </div>
                        <div class="bonus">
                            {{ unlock.typeratio == 'gain' ? "All Profits x" + unlock.ratio : "All Production Speed x" +
                            unlock.ratio }}
                        </div>
                        }
                    </div>
                </div>
                }
            </div>
            }
        </div>
    </div>
    }
    @else if (data.type == "investors"){
    <div class="modal">
        <div>
            <h1 class="title">Angel Investors</h1>
        </div>
        <div class="investors">
            <div>
                <img class="img-ange" src="http://localhost:4000/icones/angel.jpeg">

            </div>
            <div class="colonne2">
                <div class="totalangels"> Total anges : {{data.data.activeangels}} </div>
                <div class="bonusangels"> Pourcentage de bonus par anges : {{data.data.angelbonus}} % </div>

                <div class="restartbutton" [ngClass]="{'selectable' : (angelsToClaim > 0)}"  (click)="resetWorld()">
                    {{angelsToClaim}} To Claim with Restart</div>
            </div>
        </div>

    </div>
    }

    @else if(data.type == "angelupgrade"){
    <div class="modal">
        <div>
            <h1 class="title">Spend you angels wisely !</h1>
        </div>
        <div class="two-column-list">
            @for (angelupgrade of data.data.angelupgrades.slice(0, 6); track angelupgrade.name) {
            <div>
                @if(!angelupgrade.unlocked){
                <div class="layout">
                    <div>
                        <div class="logo"><img class="round" [attr.src]="data.server + angelupgrade.logo" /> </div>
                    </div>
                    <div>
                        <div class="name"> {{ angelupgrade.name}} </div>
                        <div class="cible"> {{ angelupgrade.idcible == -1 ? ("All Products") :
                            data.data.products[angelupgrade.idcible].name }} </div>
                        <div class="cost"> {{ angelupgrade.seuil + " anges"}} </div>
                        <div class="bonus">
                            {{ angelupgrade.typeratio == 'gain' ? ( angelupgrade.idcible == -1 ? ("All profits x" +
                            angelupgrade.ratio) : (data.data.products[angelupgrade.idcible].name) + " profits x" +
                            angelupgrade.ratio) : (" Increase in angel efficiency + " + angelupgrade.ratio + "%") }}
                        </div>
                    </div>
                    <div>

                        <div class="hirebutton" (click)="buyAngelUpgrade(angelupgrade)"
                            [ngClass]="{'selectable' : (data.data.activeangels >= angelupgrade.seuil)}">Acheter !</div>
                    </div>
                </div>
                }
            </div>
            }
        </div>
    </div>
    }
</div>
<mat-dialog-actions>
    <button mat-button mat-dialog-close class="bouton-fermer">Fermer</button>
</mat-dialog-actions>