.round {
    width: 100px;
    height: 100px;
    border-radius: 50%   
}

.progressbar{
    height: 7%;
    width : 70%; 
}

img{
    height : 200px; 
}

.product-name{
    width : 100px; 
    font-size: larger;
}

.quantite{
        
    border: 1px solid black ;
    margin-right:70px;
    border-radius: 5px;
    text-align: center;
}
