@if(product != undefined){
<div class="product-container">
    <div class="product-image-wrapper">
        <img [attr.src]="server + product.logo" class="product-image" (click)="onClick()" />
        <span class="product_qte">{{this.product.quantite}}</span>
    </div>
    <div class="product-details">
        <p class="product-name">{{ product.name }}</p>
        <div class="price-progress-wrapper">
            <mat-progress-bar [value]="progressbarvalue" class="product-progress">
                <p class="product-price">{{ product.revenu }}</p>
            </mat-progress-bar>
        </div>
        <button class="buy-button" type="button" (click)="buyProduct()" [disabled]="disabledButtonBuy">
            <span class="buy-text">Buy</span>
            <span class="product-price">{{ productCost }} <span class="qmulti-product">{{ qmultiButton }}</span></span>
        </button>

       
    </div>
</div>
}