@if(product != undefined){
<div>
    <div class="productpresentation">
        <p class="product-name">{{ product.name }}</p>
        <img [attr.src]="server + product.logo" (click)="onClick()" />
        <span class="quantite">100</span>
    </div>
    <div>
        <mat-progress-bar [value]="progressbarvalue" class="mat-large"></mat-progress-bar>
        <p class="product-name">{{ product.cout }}</p>
    </div>
    <button class="button-buy" type="button" (click)="buyProduct()">Buy</button>
</div>





}