<div class="body"
  [ngStyle]="{'background-image': 'url(' + backgroundImageUrl + ')', 'background-size': 'cover', 'height' : '150%'}">
  <div class="header">
    <div class="logo-monde">
      <img [attr.src]="server + world.logo" />
      <br>
      <span id="worldname"> {{ world.name }} </span>
    </div>


    <span class="world-money" [innerHTML]="world.money | bigvalue"> </span>
    <div class="id-joueur">
      <form action="">
        <label  id ="id_form-label" for="fname">Your ID:</label><br>
        <input type="text" id="id_form" name="id"><br>
        <input id="id_form_button" type="submit" value="Submit">
      </form>
    </div>
    <div>
      <label id="name_form_label"for="name">Your name:</label><br>
      <input type="text" id="name_form" [(ngModel)]="username" (change)="onUsernameChanged()" />
    </div>

    <div>
      <button class="button_qte" (click)="toggleSwitch()">{{qtmulti}}</button>
    </div>

  </div>

  <div class="main">
    <div class="menu">
      <div class="bouton-menu">
        <button mat-raised-button (click)="openDialogUnlock()" class="button" type="button">Unlocks</button>
      </div>
      
      <div class="bouton-menu">
        <button mat-raised-button (click)="openDialogUpgrade()" [matBadge]="badgeUpgrades"
        [matBadgeHidden]="badgeUpgrades==0" class="button" type="button">Cash Upgrade</button>
      </div>

      <div class="bouton-menu">
        <button class="button" type="button">Angel Upgrade</button>
      </div>
      <div class="bouton-menu">
        <button mat-raised-button (click)="openDialogManager()" [matBadge]="badgeManagers"           
          [matBadgeHidden]="badgeManagers==0" class="button" type="button">
          Managers
        </button>
      </div>
      <div class="bouton-menu">
        <button class="button" type="button">Investors</button>
      </div>
    </div>
    <div class="product">
      @for (product of world.products; track product.name) {      
        <app-product [prod]="product" [qtmulti]="qtmulti" class="product col-md-6"
          (notifyProduction)="onProductionDone($event)" [worldmoney]="world.money" (notifyBuy)="onBuy($event)" />
      }
    </div>
  </div>
