<div class="body"
  [ngStyle]="{'background-image': 'url(' + backgroundImageUrl + ')', 'background-size': 'cover', 'height' : '150%'}">
  <div class="header">
    <div class="logo-monde">
      <img [attr.src]="server + world.logo" />
      <br>
      <span id="worldname"> {{ world.name }} </span>
    </div>


    <span class="world-money" [innerHTML]="world.money | bigvalue"> </span>
    <div class="id-joueur">
      <form action="">
        <label  id ="id_form-label" for="fname">Your ID:</label><br>
        <input type="text" id="id_form" name="id"><br>
        <input id="id_form_button" type="submit" value="Submit">
      </form>
    </div>
    <div>
      <label id="name_form_label"for="name">Your name:</label><br>
      <input type="text" id="name_form" [(ngModel)]="username" (change)="onUsernameChanged()" />
    </div>

    <div>
      <button class="button_qte" (click)="toggleSwitch()">{{qtmulti}}</button>

    </div>

  </div>

  <div class="main">
    <div class="menu">
      <div class="bouton-menu">
        <button mat-raised-button (click)="showUnlocks = !showUnlocks" [matBadge]="badgeUnlocks"
        [matBadgeHidden]="badgeUnlocks==0" class="button" type="button">Unlocks</button>
        @if(showUnlocks){
          <div class="modal">
            <div>
              <h1 class="title">Want to maximize profits? Get your investments to this quotas !</h1>
            </div>
            <div class="two-column-list">
              @for(unlock of world.allunlocks.slice(0,6); track unlock.name){
                <div>
                  @if(!unlock.unlocked){
                    <div class="unlockslayout">
                      <div>
                        <div class="logo"><img class="round" [attr.src]="server+unlock.logo" /> </div>
                      </div>
                      <div>
                        <div class="unlockname"> {{ unlock.name}} </div>
                        <div class="unlockcible"> {{ world.products[unlock.idcible].name }} </div>
                        <div class="unlockseuil"> {{ unlock.seuil}} </div>
                      </div>
                    </div>
                  }
                </div>
              }
            </div>
          </div>

        }
      </div>
      
      <div class="bouton-menu">
        <button mat-raised-button (click)="showUpgrades = !showUpgrades" [matBadge]="badgeUpgrades"
        [matBadgeHidden]="badgeUpgrades==0" class="button" type="button">Cash Upgrade</button>
        @if(showUpgrades){
        <div class="modal">
          <div>
            <h1 class="title">Boost your investments !</h1>
          </div>
          <div class ="two-column-list">
            @for (upgrade of world.upgrades.slice(0, 6); track upgrade.name) {
              <div>
                @if(!upgrade.unlocked){
                  <div class="upgradeslayout">
                    <div>
                      <div class="logo"><img class="round" [attr.src]="server+upgrade.logo" /> </div>
                    </div>
                    <div>
                      <div class="upgradename"> {{ upgrade.name}} </div>
                      <div class="upgradecible"> {{ world.products[upgrade.idcible].name }} </div>
                      <div class="upgradeseuil"> {{ upgrade.seuil}} </div>
                    </div>
                    <div>
                      <div class="buyUpgrade" (click)="buyUpgrade(upgrade)"
                        [ngClass]="{'selectable' : (world.money >= upgrade.seuil)}">Hire !</div>
                    </div>
                  </div>
                }
              </div>
            }
          <div>
          <button class="closebutton" mat-raised-button color="primary" (click)="showUpgrades = !showUpgrades"></button>
          </div>
          </div>
        </div>
        }
         
      </div>

      <div class="bouton-menu">
        <button class="button" type="button">Angel Upgrade</button>
      </div>
      <div class="bouton-menu">
        <button mat-raised-button (click)="showManagers = !showManagers" [matBadge]="badgeManagers"
          [matBadgeHidden]="badgeManagers==0" class="button" type="button">
          Managers
        </button>
        @if(showManagers){
        <div class="modal">
          <div>
            <h1 class="title">Managers make you feel better !</h1>
          </div>
          <div class ="two-column-list">
            @for (manager of world.managers; track manager.name) {
            <div>
              @if(!manager.unlocked){
              <div class="managerslayout">
                <div>
                  <div class="logo"><img class="round" [attr.src]="server+manager.logo" /> </div>
                </div>
                <div>
                  <div class="managername"> {{ manager.name}} </div>
                  <div class="managercible"> {{ world.products[manager.idcible].name }} </div>
                  <div class="managercost"> {{ manager.seuil}} </div>
                </div>
                <div>
                  <div class="hirebutton" (click)="hireManager(manager)"
                    [ngClass]="{'selectable' : (world.money >= manager.seuil)}">Hire !</div>
                </div>
              </div>
              }
            </div>
            }
          </div>
          <button class="closebutton" mat-raised-button color="primary" (click)="showManagers = !showManagers"></button>
        </div>
        }
      </div>
      <div class="bouton-menu">
        <button class="button" type="button">Investors</button>
      </div>
    </div>
    <div class="product">
      @for (product of world.products; track product.name) {      
        <app-product [prod]="product" [qtmulti]="qtmulti" class="product col-md-6"
          (notifyProduction)="onProductionDone($event)" [worldmoney]="world.money" (notifyBuy)="onBuy($event)" />
      }
    </div>
  </div>
