<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="app.component.css">

</head>
<body>
  <div class="header">
    <div class="logo-monde">
      <img src="../../../public/icones/terre.png" >
    </div>
    <div> argent </div>
    <div class="multiplicateur">  
      <button class="button" type="button">Cash upgrade</button> 
    </div>
    <div> ID du joueur </div>
  </div>
  <div class="main">
    <div class="menu">
      <div class="bouton-menu"> 
        <button class="button" type="button">Unlocks</button> 
      </div>
      <div class="bouton-menu"> 
        <button class="button" type="button">Cash upgrade</button> 
      </div>
      
      <div class="bouton-menu"> 
        <button class="button" type="button">Angel Upgrade</button> 
      </div>
      <div class="bouton-menu"> 
        <button class="button" type="button">Managers</button> 
      </div>
      <div class="bouton-menu"> 
        <button class="button" type="button">Investors</button> 
      </div>
    </div>
    <div class="product">
      <div> premier produit </div>
      <div> second produit </div>
      <div> troisième produit </div>
      <div> quatrième produit </div>
      <div> cinquième produit </div>
      <div> sixième produit </div>
    </div>
  </div>
</body>
</html>


