
.button-buy{
    border: none;
    border-radius: 5px;
    background-color: burlywood;
    color: grey;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.produits{
    display : grid; 
    grid-template-columns: 30% 60%;
    height: 80px;
    width: 400px; 
}

.multiplicateur{
    padding-right: 0;
    
}

.quantite{
    
    border: 1px solid black ;
    margin-right:70px;
    border-radius: 5px;
    text-align: center;
}

#progression{
    height: 5px;
}